body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  background: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a h1, a h2 {
  color: rgb(0, 0, 0);
}

a:hover h1, a:hover h2 {
  background: rgb(192, 192, 192);
}

a {
  text-decoration: none;
}

h1 {
  padding: 15px;
}
h2 {
  padding: 5px;
}

#main {
  width: 900px;
  padding: 0;
  margin: 15px auto 20px auto;
}

.date {
  padding-right: 8px;
  color: rgb(192, 192, 192);
}
