/* some HTML5 block display rules to keep older browsers' rendering sane */
article, header, section { display: block; }

/* make box-sizing not depend on padding */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 1em;
}

body, html {
  margin: 0;
  padding: 0;
}

a.feed-link {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: 14px;
  height: 14px;
  background: url(/images/feed-icon-14x14.png);
  overflow: hidden;
}

/* banished off-screen for all except screen readers */
a.feed-link span {
  position: absolute;
  left: -10000em;
  width: 1px;
  height: 1px;
}

h1, h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  background: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a h1, a h2 {
  color: rgb(0, 0, 0);
}

a:hover h1, a:hover h2 {
  background: rgb(192, 192, 192);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0.5em;
}
h2 {
  padding: 0.3em;
  margin-top: 1em;
}

#main {
  width: 90%;
  padding: 0;
  margin: 1em auto 2em auto;
}

.links-list, .links-list li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; /* fuck you, IE */
}

ul .date {
  padding-right: 0.6em;
}

.date, .tags {
  color: rgb(128, 128, 128);
}

.post-meta {
  background: rgb(240, 240, 240);
  width: 100%;
  padding: 0.3em;
  margin: 0;
  overflow: auto;
  font-size: 0.7em;
}

.post-meta .date {
  float: left;
  margin-left: 0.6em;
}

.post-meta .tags {
  float: right;
  margin-right: 0.6em;
}

nav {
  overflow: auto;
  margin-top: 1.8em;
  font-size: 0.7em;
}

nav .newer {
  padding-left: 1.8em;
  float: right;
}

nav .older {
  float: left;
}
