/* content-box is stupid. use border-box instead. */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* some HTML5 block display rules to keep older browsers' rendering sane */
article, header, section { display: block; }

body {
  overflow-y: scroll;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  background: hsl(40, 5%, 5%);
  color: hsl(30, 5%, 95%);
}

::-moz-selection {
  background: hsl(210, 25%, 25%);
  color: hsl(210, 35%, 75%);
}

::selection {
  background: hsl(210, 25%, 25%);
  color: hsl(210, 35%, 75%);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
}

header {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 1.5em;
  text-transform: uppercase;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: .55em;
}

header .logo {
  height: 8em;
  width: auto;
  padding-right: 1.2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  letter-spacing: .35em;
  padding-right: 1.2em;
}

nav li {
  display: inline;
  padding: 0 0.5em;
  border-right: 0.1em solid hsl(30, 5%, 50%);
}

nav li:last-child {
  border: none;
}

nav li a {
  text-decoration: none;
  color: hsl(30, 5%, 50%);
  transition: all 0.5s ease;
}

nav li a:hover, nav li a:active {
  color: hsl(30, 5%, 95%);
}


/* ANIMATION(S) */

header {
  -moz-animation: fade-in 1.5s ease;
  -webkit-animation: fade-in 1.5s ease;
  animation: fade-in 1.5s ease;
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
