<!doctype html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Squid's Scribblings</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/clean_ink.css" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="openid.server" href="http://micro.fragdev.com/main/openidserver" />
    <link rel="openid.delegate" href="http://micro.fragdev.com/psquid" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body>
    <header>
        <a href="/"><h1>Squid's Scribblings</h1></a>
        <a href="/atom.xml" class="feed-link"><span>Atom feed</span></a>
    </header>
    <section id="main">
