{% include header.html %}
        <article class="post">
            <header>
                <h2>{{ page.title }}</h2>
		<section class="post-meta">
                    <span class="date">Posted {{ page.date | date_to_long_string }}</span>
                    <span class="tags">Tagged as {{ page.tags | array_to_sentence_string }}</span>
                </section>
            </header>
            {{ content }}
        </article>
	<nav>
	    {% if page.previous.url %}
	    <a href="{{ page.previous.url }}" title="Older post: {{ page.previous.title }}">&larr; {{ page.previous.title }}</a>
	    {% endif %}
	    {% if page.next.url %}
	    <a href="{{ page.next.url }}" title="Newer post: {{ page.next.title }}">{{ page.next.title }} &rarr;</a>
	    {% endif %}
{% include footer.html %}
